spring:
  application:
    name: cat-show-backend
  
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: "408901e698564a"
    password: "e9aa3c0fc19389"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  stripe:
    api:
      key: ${STRIPE_SECRET_KEY}
    webhook:
      secret: ${STRIPE_WEBHOOK_SECRET}

  jpa:
    hibernate:
      ddl-auto: update  # Pro development, v produkci použít 'validate' 'update' 'create-drop'
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  management:
    endpoints:
      web:
        exposure:
          include: info
    endpoint:
      health:
        show-details: always

server:
  port: 8080

logging:
  level:
    root: INFO
    com.example.catshow: DEBUG
    com.gpfteam.catshow.catshow_backend: DEBUG
    #org.hibernate.SQL: DEBUG

jwt:
  secret: ${JWT_SECRET_KEY}
  expiration: 604800000  # 7 dní